@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
	word-wrap: break-word;
}
body{
	font-family: 'Roboto', sans-serif !important;
}
body a,.encontrar{
	color: rgba(2,117,216,1);
}
body a:hover,.encontrar:hover{
	color: rgba(1,76,140,1);
	cursor: pointer;
}
footer{
	margin-top: 50px !important;
	line-height: 100px;
	width:100%;
}
footer i{
	padding: 10px;
}
.ads-home{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.ads-home img{
	margin-bottom: 20px;
	width: 300px;
	height: 300px;
}
.banner-top-button a{
	display: inline-block;
	padding: 4px;
}
.banner-top-button a>span,.encontrar span{
	font-size: 24px;
	padding-left: 5px;
	display: inline-block;
}
.banner-top-button a:nth-child(1){
	margin-right: 20px;
}
.banner-home{
	background-color: rgba(39,174,96,1);
}
.banner-home h1{
	color: #FFF;
	font-weight: 900;
	text-transform: uppercase;
}
.banner-home h1 .yellow{
	color: rgba(255,255,0,1);
}
.form-search{
	padding-top: 50px;
}
.form-search form>button{
	background-color: rgba(39,174,96,1);
	cursor: pointer;
	color: #FFF;
	margin-top: 20px;
}
.text-contact h1{
	font-weight: 400;
}
.text-contact .text{
	font-size: 20px;
	font-weight: 300;
}
.search-results-title{
	margin-bottom: 30px;
	margin-top: 20px;
	font-weight: 300;
}
.item-result {
	margin-bottom: 50px;
}
.item-result .item-result-title a{
	color: rgba(46,204,113,1);
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
	display: block;
}
.item-result .item-result-intro{
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 20px;
}
.item-result .item-result-address{
	font-weight: 500;
}
.item-result .item-result-button{
	margin-top: 16px;

}
.item-result .item-result-button a{
	background-color: rgba(46,204,113,1);
	color: #FFF;
	line-height: 36px;
	font-size: 20px;
}
.item-result .item-result-button a:hover{
	background-color: #27ae60;
}
.page{
	margin-top: 30px;
}
.page .name h1, .page h2{
	font-weight: 400;
}
.page b{
	font-weight: 500;
}
.page .social-medias .fa {
  padding: 20px;
  width: 300px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.page .social-medias .fa:hover {
    opacity: 0.7;
}
.page .social-medias .fa-facebook{
	background: #3B5998;
	color: white;
}
.page .social-medias .fa-instagram {
  background: #125688;
  color: white;
}
.page .social-medias .fa-twitter {
  background: #55ACEE;
  color: white;
}
.page .social-medias .fa-youtube {
  background: #bb0000;
  color: white;
}
.page h2{
	margin-top: 10px;
}
@media screen and (max-width: 400px){
	.banner-home h1{
		font-size: 2.8em !important;
		padding-top: 50%;
		padding-left: 0.1em;
	}
}
@media screen and (min-width: 400px) and (max-width: 600px){
	.banner-home h1{
		font-size: 3.8em !important;
		padding-top: 25%;
		padding-left: 0.1em;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px){
	.banner-home h1{
		font-size: 4.6em !important;
		padding-top: 15%;
		padding-left: 0.2em;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px){
	.banner-home h1{
		font-size: 5em !important;
		padding-top: 10%;
		padding-left: 0.2em;
	}
}
@media screen and (min-width: 1000px){
	.banner-home h1{
		font-size: 6em !important;
		padding-top: 10%;
		padding-left: 0.5em;
	}
}