<%- include ../partials/head %>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i><span> Principal</span></a>
	</div>
</div>
<div class="row text-contact justify-content-center">
	<div class="col-md-8">
		<h1>Como anunciar:</h1>
		<div class="text">
		Olá, para anunciar aqui você precisa preencher o formulário do link abaixo, então entraremos em contato com você
		em até 3 dias úteis (horário de New York).<br><br>
		<a href="https://goo.gl/forms/W6Ynx2FdAg7pP9yZ2">Clique aqui para preencher o formulário</a>
		<br><br>
		Lembrando que não fazemos anúncios considerados ilegais ou fora do propósito do site BrasilEUA.
		<br><br>
		<b>Observação:</b> atualmente o preço para anunciar no site é de 50 dólares anualmente (não é obrigatório renovar).
		</div>
	</div>
</div>
</div><!-- end: container-fluid-->
<%- include ../partials/footer %>