<%- include ../partials/head %>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i><span> Principal</span></a>
	</div>
</div>
<div class="row text-contact justify-content-center">
	<div class="col-md-8">
		<h1>Como anunciar:</h1>
		<div class="text">
		Olá, para anunciar aqui você precisa preencher o formulário do link abaixo, então entraremos em contato com você
		em até 3 dias úteis (horário de Bridgeport, Connecticut).<br><br>
		<a href="https://goo.gl/forms/W6Ynx2FdAg7pP9yZ2">Clique aqui para preencher o formulário</a>
		<br><br>
		Lembrando que não fazemos anúncios considerados ilegais ou fora do propósito do site Brazbiss.
		<br><br>
		<h3>Preços promocionais de lançamento:</h3><br>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Período</th>
		      <th>Preço</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>6 meses</td>
		      <td>60 dólares</td>
		    </tr>
		    <tr>
		      <td>12 meses</td>
		      <td>120 dólares</td>
		    </tr>
		    <tr>
		      <td>24 meses</td>
		      <td>200 dólares</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>
</div><!-- end: container-fluid-->
<%- include ../partials/footer %>