<%- include ../partials/head %>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i><span> Principal</span></a>
	</div>
</div>
<div class="row text-contact justify-content-center">
	<div class="col-md-8">
		<h1>Como anunciar:</h1>
		<div class="text">
		Olá, para anunciar aqui você precisa preencher o formulário do link abaixo, então entraremos em contato com você
		em até 3 dias úteis (horário de Bridgeport, Connecticut).<br><br>
		<a href="https://goo.gl/forms/W6Ynx2FdAg7pP9yZ2">Clique aqui para preencher o formulário</a>
		<br><br>
		Lembrando que não fazemos anúncios considerados ilegais ou fora do propósito do site Brazbiss.
		<br><br>
		<h3>Preços promocionais de lançamento:</h3><br>
		<table class="table">
		  <thead>
		    <tr>
			  <th>Tipo</th>
		      <th>Período</th>
		      <th>Preço</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
			  <td>Normal</td>
		      <td>6 meses</td>
		      <td>60 dólares</td>
		    </tr>
		    <tr>
			  <td>Normal</td>
		      <td>12 meses</td>
		      <td>120 dólares</td>
		    </tr>
		    <tr>
			  <td>Normal</td>
		      <td>24 meses</td>
		      <td>200 dólares</td>
		    </tr>
		    <tr>
			  <td>Home</td>
		      <td>3 dias</td>
		      <td>90 dólares</td>
		    </tr>
			  <td>Home</td>
		      <td>4 dias</td>
		      <td>110 dólares</td>
		    </tr>
			  <td>Home</td>
		      <td>5 dias</td>
		      <td>130 dólares</td>
		    </tr>
			  <td>Home</td>
		      <td>6 dias</td>
		      <td>150 dólares</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>
<br>
<div class="row justify-content-center">
	<div class="col-md-12 text-center">
		<h2>VANTAGENS</h2>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Ranqueamento no Google</h5></center>
		<p>Usamos as melhores práticas recomendadas pelo Google para que o seu anúncio e o nosso site melhore no ranqueamento no motor de busca Google.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Compartilhável no Facebook</h5></center>
		<p>Usamos as práticas recomendadas pelo Facebook para o seu anúncio e o nosso site ser compartilhável no Facebook.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Branding por Associação</h5></center>
		<p>Trabalhamos para que as empresas recomendadas por nós sejam vistas como confiáveis e recomendáveis.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Long Tail</h5></center>
		<p>A sua empresa será beneficiada pelas buscas feitas para encontrarem outras empresas também.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Publicação Patrocinada</h5></center>
		<p>Parte do pagamento feito por você será utilizado em uma publicação patrocinada no Facebook usando técnicas de marketing para que a sua empresa seja vista pelos clientes certos.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<center><h5>Melhoria Contínua</h5></center>
		<p>Novos recursos serão adicionados na plataforma e continuaremos melhorando o nosso serviço para que a sua empresa tenha mais resultados.</p>
	</div>
</div>
<br><br>
<div class="row justify-content-center">
	<div class="col-md-6 text-center">
		<center><a href="https://goo.gl/forms/W6Ynx2FdAg7pP9yZ2" class="btn btn-success">Anunciar na Brazbiss</a></center>
	</div>
</div>
</div><!-- end: container-fluid-->
<br><br>