<%- include ../partials/head %>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href=""><i class="fa fa-bullhorn" style="font-size:24px"></i><span> Anunciar</span></a>
		<a href=""><i class="fa fa-map-marker" style="font-size:24px"></i><span> Encontrar</span></a>
	</div>
</div>
<div class="row banner-home">
	<div class="col-md-12">
		<h1>Encontre<br><span class="yellow">empresas<br>brasileiras<br></span>nos EUA.</h1>
	</div>
</div>
<div class="row form-search justify-content-center">
	<div class="col-md-4 text-center">
		<form>
			<label for="state">
				<select name="state" class="form-control">
					<option>Escolha o estado</option>
				</select>
			</label><br>
			<label for="city">
				<select name="city" class="form-control">
					<option>Escolha a cidade</option>
				</select>
			</label><br>
			<label for="area">
				<select name="state" class="form-control">
					<option>Escolha a categoria</option>
				</select>
			</label><br>
			<button type="submit" class="btn">Confirmar</button>
		</form>
	</div>
</div>
</div><!-- end: container-fluid-->
<%- include ../partials/footer %>