<%- include ../partials/head %>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i><span> Principal</span></a>
	</div>
</div>
<div class="row search-results-title justify-content-center">
	<div class="col-md-4 text-center">
		<%- title %>
	</div>
</div>
<div class="row search-results justify-content-center">
	<div class="col-md-8 item-result">
		<div class="item-result-title"><a href="">Cleaning da Daniela Álvarez Silva</a></div>
		<div class="item-result-intro">
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
		</div>
		<div class="item-result-address">
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
		</div>
		<div class="item-result-button">
			<a href="" class="btn">Mais Informações</a>
		</div>
	</div>
	<div class="col-md-8 item-result">
		<div class="item-result-title"><a href="">Cleaning da Daniela Álvarez Silva</a></div>
		<div class="item-result-intro">
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
		</div>
		<div class="item-result-address">
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
		</div>
		<div class="item-result-button">
			<a href="" class="btn">Mais Informações</a>
		</div>
	</div>
	<div class="col-md-8 item-result">
		<div class="item-result-title"><a href="">Cleaning da Daniela Álvarez Silva</a></div>
		<div class="item-result-intro">
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
			Limpamos casas, supermercados, empresas, e atendemos de domingo à sexta-feira.
		</div>
		<div class="item-result-address">
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
			1250 Kennedy st. Apt4 bl1 new heaven, OH.
		</div>
		<div class="item-result-button">
			<a href="" class="btn">Mais Informações</a>
		</div>
	</div>
</div>
</div><!-- end: container-fluid-->
<%- include ../partials/footer %>